@import 'var';

.main{
  /************** INTRO **************/
  @at-root{
    html,body{ overflow: hidden; height: 100%;}
    .cursor{
      &::before{ font-size: 20rem; font-family: 'PT Serif', serif;}
      &.bgm_on::before{ content: 'on'; display: block;}
      &.bgm_off{ background-color: $bg4;
        &::before{ content: 'off'; display: block;}
      }
    }
  }
  #intro{ z-index: 99; width: 100%; height: 100vh; overflow: hidden;position: fixed; left: 0; top: 0; background-color: $bg1; transition: 1.5s $ease2;
    .con_box{ position: relative; width: 500rem; height: 500rem;
      &::before{ content: ''; width: 100%; height: 100%; border-radius: 50%; border: 1px solid transparent; transition: 1.6s $ease_out 1s,border-color 0s; position: absolute; left: 0; top: 0; transform: scale(.9);}
      .circle_box{ width: 100%; height: 100%; border-radius: 50%; position: relative; overflow: hidden; transition: 1s $ease2;
        .inner{
          .bg{ border-radius: 50%; background-color: $ci; transform: scale(0);}
          .icon{ width: 100%; height: 100%; padding: 20%; position: relative; top: 0; transition: 1s $ease2;
            svg{ width: 100%; height: 100%; object-fit: contain;}
            &.headset{position: absolute; left: 0; top: 100%;}
          }
          .count{ font-size: 60rem; color: $text; opacity: 1; transition: 1s ease;}
        }
      }
  
      .sound_info{ text-align: center; position: absolute; left: 0; top: calc(100% + 37rem); width: 100%; line-height: 1.5;
        p{ overflow: hidden;
          span{ display: block; transform: translateY(100%); transition: .5s ease .3s;
          }
        }
      }
    }
    .sound_btn_wrap{ display: flex; z-index: 10; transition: 0s ease 1s; touch-action: none; pointer-events: none;
      button{ width: 100%; height: 100%;}
    }
  
    &.sound{
      .con_box{
        &::before{ border-color: $ci; animation: circle_wave 1.6s $ease_out 1s infinite forwards;}
        @keyframes circle_wave {
          0%{ transform: scale(.9); opacity: 1;}
          100%{ transform: scale(1.5); opacity: 0;}
        }
        .circle_box{
          .inner{
            .icon{
              &.bird{ top: -100%;}
              &.headset{ top: 0;}
            }
            .count{ transform: translate(-50%,-300%); opacity: 0; transition-delay: .2s;}
          }
        }
        .sound_info p{
          span{ transform: translateY(0);}
          + p span{ transition-duration: 1s;}
        }
      }
      .sound_btn_wrap{ touch-action: auto; pointer-events: auto;}
    }
  }
  &.on{
    header{ transform: translate(0);}
    #intro{ touch-action: none; pointer-events: none; height: 0; transition-delay: .5s; background-color: $ci;
      .con_box{
        &::before{ animation:unset; opacity: 0;}
        .circle_box{ transform: scale(.3); opacity: 0;}
        .sound_info p span{ transform: translateY(-100%); transition-delay: 0s;}
      }
    }
  }

  /************** MAIN **************/
  .main_cate{ font-size: 24rem; font-family: 'Pretendard', sans-serif; display: block; padding:120rem 0 50rem; color: $ci;}
  /* VISUAL */
  #main_visual{ padding: 160rem 0 50rem;
    .wave_line{ left: 0; bottom: -150rem;
      &.wave4{ bottom: -150rem;
        svg + svg{ animation-duration: 7s; animation-delay: 1.7s;}
      }
    }
    .tit_box{ text-align: right; 
      .tit{ font-size: 100rem; letter-spacing: -1.5rem; line-height: 1;
        h1{
          b{ padding: 10rem 0;
            .name{ display: inline-block; overflow: hidden; position: relative; transform: translateY(14rem); margin-top: -14rem;
              &::after{ content: ''; display: block; width: 100%; height: 100%; background-color: $ci; position: absolute; left: 0; top: 0; transition: 1.2s $ease 1s;}
            }
          }
          &.aos-animate b .name::after{ left: 100%;}
        }
      }
      a{ display: inline-block; margin-top: 104rem; padding: 16rem 25rem; border-radius: 999rem; background-color: $ci; font-weight: 500;
        .bird{ display: inline-block; width: 8rem; transform: translateY(-60%);}
      }
    }
    .sub_txt{ color: $ci; position: absolute; left: 0; bottom: 0; line-height: 1.6;}
  }

  #main_best_pf{ position: relative; margin-top: -63vh; height: 2000rem;
    .sticky_box{ position: sticky; left: 0; top: 0; width: 100%;
      .wave_line svg{ transition: unset;
        &:first-child{ stroke-dashoffset:2640; }
      }
      .pf_box{ width: 550rem; height: 340rem; border-radius: 30rem; border: 1px solid $ci; padding: 20rem 24rem; position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%); background-color: $bg1; overflow: hidden;
        .bird{ width: auto; height: 150%; position: absolute; right: -20%; top: -10%;
          svg{ height: 100%;}
        }
        .inner{ display: flex; flex-direction: column; justify-content: space-between;
          .tit_tag{ display: flex; align-items: center; flex-shrink: 0;
            .bpf_logo{ display: flex; align-items: flex-start; font-size: 24rem; color: $ci; margin-left: -88rem; 
              p{ opacity: 0;}
              img{ width: 21rem;}
            }
            span{ padding-left: 10rem; margin-left: 9rem; position: relative; top: 1rem;
              i{ display: block; width: 1px; height: 0; background-color: $white; position: absolute; left: 0; top: 2rem;}
            }
          }
          .pf_con{ display: flex; width: 100%; transform: translateY(10%); opacity: 0;
            .list_box{width: 330rem; margin-right: 10rem; flex-shrink: 0;
              .txt{
                .tit{ font-size: 40rem; margin-bottom: 22rem; line-height: 1;}
                p{ font-size: 16rem; line-height: 1.4;}
              }
              .list{ width: 100%; margin-top: 24rem;
                strong{ display: block; color: $ci; font-weight: 600; margin-bottom: 14rem;}
                ul{ border: 1px solid $ci; background-color: $bg1; border-radius: 15rem; padding: 10rem; height: 340rem;
                  li{ width: 100%; height: calc(100%/7 - 8.7rem); background-color: $bg2; padding: 10rem; border-radius: 10rem; position: relative; cursor: pointer; transition: .5s $ease-out;
                    + li{ margin-top: 10rem;}
                    span{ font-size: 12rem; font-weight: 600}
                    i{ width: 20rem; height: 20rem; position: absolute; right: 10rem; top: 50%; transform: translateY(-50%); background-color: $bg3; border-radius: 5rem; overflow: hidden;
                      &::before{ content: ''; display: block; width: 120%; height: 120%; border-radius: 50%; background-color: $ci; position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%) scale(0); transition: .5s $ease-out;}
                    }
                    &:hover{ text-indent: 10rem;}
                    &.on{ touch-action: none; pointer-events: none; color: $ci;
                      i::before{ transform: translate(-50%, -50%) scale(1);}
                    }
                  }
                }
              }
            }

            .info_box{ width: 100%; display: flex; flex-direction: column;
              .info_list{ display: flex;  justify-content: space-between; width: 100%; height: 289rem;
                li{display: flex; flex-direction: column; justify-content: space-between; width: calc(33.3333% - 7rem); background-color: $bg2; border-radius: 15rem; padding: 20rem;
                  .amount{
                    span{ display: block; font-size: 16rem; margin-bottom: 17rem;}
                    p{ font-size: 36rem;}
                  }
                  .detail{ font-size: 14rem; font-weight: 200; line-height: 1.2;
                    p + p{ margin-top: 10rem; color: $ci;}
                  }
                }
              }
              .view_box{ height: 100%;border-radius: 15rem;  background-color: $bg2; margin-top: 10rem;}
            }
          }
        }
      }
    }
  }

  #main_feature{
    .main_cate{ padding-top: 0;}
    .feature_tit{ margin-bottom: 140rem; position: relative;
      .wave_line{ left: 0; top: 58rem;
        svg{ stroke-dasharray: 2950; stroke-dashoffset: 2950; transition-duration: 1.2s;}
      }
      .tit_box{ font-size: 86rem; line-height: 1.15;
        p{ width: 100%; position: relative; overflow: hidden;
          &:nth-child(1){ padding-left: 470rem;}
          &:nth-child(2){ text-align: center;}
          &:nth-child(3){ text-align: right; padding-right: 350rem;}
          .pt{ color: $text;}
          span{ display: inline-block; transform:translateY(100%); background-color: $bg1; padding: 0 30rem; transition: 1.6s $ease;}
        }
      }
      &.aos-animate{
        .wave_line svg{ stroke-dashoffset: 0;
          + svg{ opacity: 1;}
        }
        .tit_box{
          p{
            span{ transform: translateY(0);
            }
            &:nth-child(2) span{ transition-delay: .1s;}
            &:nth-child(3) span{ transition-delay: .2s;}
          }
        }
      }
    }
    .feature_list{
      ul{ display: flex; justify-content: space-between;
        li{ width: calc(33.3333% - 7rem); height: 628rem;
          .inner{border-radius: 15rem; border: 1px solid $bg4; transition: .5s $ease-out; padding: 80rem 30rem 60rem; display: flex; flex-direction: column; justify-content: space-between;}
          .ani_box{ display: flex; align-items: center; justify-content: center; width: 100%; height: 250rem; margin: 0 auto; position: relative;}
          .txt_box{ padding-bottom: 17rem; border-bottom: 1px solid $bg4;
            .tit{ font-size: 40rem; margin-bottom: 20rem; line-height: 1.1;
              span{ display: block;}
            }
            .info{ color: $ci; font-size: 20rem; line-height: 1.2;}
          }
          &.logical{
            .ani_box{
              svg{
                .ani_op{ animation: logical_ani 2s ease infinite alternate-reverse;
                  &.du3{ animation-duration: 3s;}
                  &.du4{ animation-duration: 4s;}
                  &.du5{ animation-duration: 5s;}
                  &.du6{ animation-duration: 6s;}
                  &.du7{ animation-duration: 7s;}
                }

                @keyframes logical_ani {
                  0%{ fill: transparent;}
                  100%{ fill: $ci;}
                }
              }
            }
          }

          &.interaction{
            .ani_box{ width: 330rem; display: flex; justify-content: space-between;
              i{ width: 1px; height: 100%; background-color: $bg4; animation:interaction_ani2 5s $ease infinite alternate; transform-origin: center bottom;
                &:first-child{display: none;}
              }
              span{ width: 168rem; height: 168rem; border-radius: 50%; background-color: $ci; position: absolute; left: 50%; top: 50%; transform: translateX(-50%, -50%); z-index: 1; mix-blend-mode: color-burn; animation:interaction_ani 2s ease-in-out infinite alternate; 
                &.yel{ mix-blend-mode: color-dodge; animation-direction: alternate-reverse;}
              }
              @keyframes interaction_ani {
                0%{ transform:translate(-10%, -50%)}
                100%{ transform:translate(-90%, -50%)}
              }
              @keyframes interaction_ani2 {
                0%{ transform: scaleY(1);}
                100%{ transform: scaleY(.2);}
              }
            }
          }

          &.attention{
            .ani_box{ width: 250rem;
              .dot{ width: 100%; height: 100%;  display: flex; flex-wrap: wrap; transform: scale(1.3);
                i{ display: flex; align-items: center; justify-content: center; width: 25%; height: 25%; animation:attention_ani 3s ease-in-out infinite alternate; 
                  &::before{ content: ''; display: block; width: 2px; height: 2px; border-radius: 50%; background-color: $ci;}
                  &:nth-child(1n+2){ animation-delay: .3s; animation-duration: 6s;}
                  &:nth-child(5n+3){ animation-delay: .7s; animation-duration: 2s; animation-direction: alternate-reverse;}
                  &:nth-child(3n+1){ animation-delay: .5s; animation-duration: 4s;}
                }
              }
              .circle{ width: 166rem; height: 166rem; position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%);
                i{ position: absolute; left: 0; top: 0; width: 100%; height: 100%; border-radius: 50%; border: 1px solid $ci;animation:attention_ani 2s ease-in-out infinite alternate; 
                  &:nth-child(2){ transform: scale(.7); animation-duration: .5s;}
                  &:nth-child(3){ transform: scale(.4); animation-duration: .6s;}
                  &::after{ content: ''; width: 2px; height: 2px; border-radius: 50%; background-color: $ci; position: absolute; left: 50%; top:50%}

                  
                }
                @keyframes attention_ani {
                  0%{ opacity: 0;}
                  100%{ opacity: 1;}
                }
              }
            }
          }
          &:hover .inner{ transform: translateY(-27rem); background-color: $bg2;}
        }
      }
    }
  }
  #main_skills{ overflow: hidden;
    .wave{ font-size: 50rem; position: relative;
      &::before, &::after{ content: ''; display: block; width: 200rem; height: 100%; position: absolute; left: 0; top: 0;
        background: linear-gradient(to left, transparent, $bg1); z-index: 1;}
      &::after{ left: auto; right: 0; transform: rotate(180deg);}
      ul{ display: flex; animation-play-state: paused;
        li{ margin: 0 30rem;}
      }
    }
    &.aos-animate{
      .wave ul{ animation-play-state: running;}
    }
  }

  #main_value{ padding: 120rem 100rem 0; transition: none !important;
    .value_box{ background-color: $white; border-radius: 15rem; padding: 100rem 0; color:$ci; line-height: 1.05;
      .inner{ width: 1500rem; margin: 0 auto;}
      .tit_box{
        .bird{ width: 424rem; margin:0 auto 70rem;
          svg{
            path{ fill: $bg1; transition: 1s ease;}
          }
        }
        .tit{ font-size: 86rem; text-align: center; color: $bg2;
          em{ display: inline-block; border-bottom: 5rem solid $ci;}
        }
      }
      .info_box{ padding-top: 70rem; margin-top: 100rem; position: relative;
        &::before{ content: ''; width: 0%; height: 1px; background-color: $ci; position: absolute; left: 0; top: 0; transition: 1s $ease;}
        span{ display: block; font-size: 20rem; border-bottom: 1px solid $ci;}
        p{ font-size: 36rem; 
          i{ display: inline-block; width: 166rem;}
        }
        &.aos-animate::before{ width: 100%;}
      }
    }
    @at-root .cursor.value_on{ transform: scale(3); background-color: $bg1; mix-blend-mode: difference;}

    &.aos-animate{
      .value_box{
        .tit_box .bird svg path{ fill: $ci;}
      }
    }
  }

  #main_all_pf{ position: relative;
    .bg{ z-index: 3;
      .sticky_box{ width: 100%;  position: sticky; left: 0; top:0; overflow: hidden;
        &::before,&::after{ content: ''; position: absolute; left: 50%; transform: translateX(-50%); top: 0; width: 101vw; height: 20vh; background: linear-gradient(to bottom, $bg1, transparent); }
        &::after{ top: auto; bottom: -2px; transform: rotate(180deg) translateX(50%);}
        .info{ color: $ci; position: absolute; left: 0; bottom: 40rem; line-height: 1.4; height: auto; z-index: 1;}
      }
    }
    .sticky_box{ position: sticky; left: 0; top: 0; width: 100%; overflow: hidden;
      .main_cate{ position: absolute; left: 0; top: 0;}
      .bird_progress{ clip-path: url(#clip_bird); width: 423rem; height: 384rem;
        i{ width: 250%; padding-top: 250%; background: $text; position: absolute; left: 50%; top:120%; border-radius: 45%; animation: rtt 12s linear infinite paused; opacity: .7;
          + i{ width: 280%; padding-top: 280%; opacity: .5; animation-duration: 17s; border-radius: 43%;}
          + i + i{ width: 220%; padding-top: 220%; opacity: .3; animation-duration: 10s; border-radius: 40%;}
        }
        @keyframes rtt {
          0%{ transform: translate(-50%, 2%) rotate(0deg) scale(1);}
          50%{ transform: translate(-50%, 2%) rotate(180deg) scale(.85);}
          100%{ transform: translate(-50%, 2%) rotate(360deg) scale(1);}
        }
      }
      .year{ color:$ci; font-size: 280rem; line-height:280rem; height:280rem; overflow: hidden;
        p{ height: 100%; justify-content: center; display: flex; align-items: center;
          &:nth-child(1){ font-size: 70rem; color: $text;}
          i{ height: 100%; transition: .5s ease; margin: 0 5rem;
            &:nth-child(2){ transition-duration: .7s;}
            &:nth-child(3){ transition-duration: .9s;}
            &:nth-child(4){ transition-duration: 1.1s;}
            &:nth-child(5){ transition-duration: 1.2s;}
            &:nth-child(6){ transition-duration: 1.3s;}
            &:nth-child(7){ transition-duration: 1.4s;}
            &:nth-child(8){ transition-duration: 1.5s;}
            &:nth-child(9){ transition-duration: 1.6s;}
            &:nth-child(10){ transition-duration: 1.7s;}
            &:nth-child(11){ transition-duration: 1.8s;}
            &:nth-child(12){ transition-duration: 1.9s;}
          }
        }
      }

      &.scene0{
        .year p i{ transform: translateY(-100%);}
      }
      &.scene1{
        .year p i{ transform: translateY(-200%);}
      }
      &.scene2{
        .year p i{ transform: translateY(-300%);}
      }
    }
    &.aos-animate .sticky_box .bird_progress i{ animation-play-state: running;}
    
    .pf_list_wrap{ position: relative; color: $bg4;
      .pf_list{ display: flex; padding-bottom: 50vh;
        ul{ width: 100%; position: relative; z-index: 1;
          &.tit_list{
            li{ font-size: 80rem; overflow: hidden; position: relative; cursor: pointer; margin-bottom: 70rem;
              p{ padding: 12rem 0; transition: .5s ease; width: 100%;
                + p{ position: absolute; left: 0; top: 100%; font-family: 'PT Serif', serif; color: $ci;}
              }
              &:hover{
                p{ transform: translateY(-100%);}
              }
            }
          }
          &.img_list{
            li{}
          }
        }
        &.y_2023{display: block; padding-bottom: 300vh; position: relative;
          .window_box_wrap{
            .window_box{ position: sticky; left: 0; top: 0;
              .window_box_inner{  width: 100%; position: relative; overflow: hidden;
                .img_wrap{width: 689rem; height: 445rem; position: relative; 
                  li{ position: absolute; background-color: $bg2; overflow: hidden; transform: translateY(200%); opacity: 0;
                    &.img_center{ width: 100%; height: 100%;background-color: transparent;
                      .inner{ background-color: $bg2; overflow: hidden;}
                    }
                    &.img1{ width: 416rem; height: 263rem; left: 20rem; bottom: calc(100% + 20rem);}
                    &.img2{ width: 250rem; height: 330rem; right: calc(100% + 20rem); bottom: 0;}
                    &.img3{ width: 258rem; height: 371rem; left: calc(100% + 20rem); bottom: 0;}
                    &.img4{ width: 364rem; height: 221rem; left: 87rem; top: calc(100% + 20rem)}
                    &.img5{ width: 387rem; height: 264rem; left: 470rem; top:calc(100% + 20rem);}
                    img{ width: 100%; height: 100%; object-fit: cover; transform: scale(2);}
                  }
                }
              }
            } 
          }
        }
      }
    }
  }

  #pf_view{ position: fixed; left: 0; top:0; width: 100%; height: 100vh; z-index: 1000; opacity: 0; touch-action: none; pointer-events: none; transition: 1s ease; background-color: rgba($color: #000000, $alpha: .3);
    .view_popup{ width: 900rem; z-index: 1;
      svg{ width: 100%; stroke-dasharray: 3418; stroke-dashoffset: 3418;  fill: transparent; transition: 1s $ease}
      .inner{ position: absolute; left: 1px; top: 1px; background: url(../../images/common/dot.png) center center / 10rem 10rem; border-radius: 25rem; width: calc(100% - 4px); height: calc(100% - 4px); transition: .5s ease; opacity: 0; padding: 40rem;
        .btn_deco{ font-size: 0; position: absolute; right: 30rem; top: 25rem;
          i{ display: inline-block; width: 8rem; height: 8rem; border-radius: 50%; margin-left: 10rem; background-color: $white;
            &:nth-child(2){ background-color: $text;}
            &:nth-child(3){ background-color: $ci;}
          }
        }
        .txt_box{
          ul{ display: flex; flex-wrap: wrap;
            li{ width: 100%; display: flex; align-items: flex-start; margin-bottom: 30rem;
              &.half{ width: 50%;}
              &.about{ display: block;
                p{ padding:16rem 0 0;}
              }
              span{ width: 130rem; padding: 10rem 0; text-align: center; background-color: $bg1; border: 1px solid $white; border-radius: 99rem; flex-shrink: 0; display: block;}
              p{ padding: 6rem 12rem 6rem 20rem; line-height: 1.4;}
            }
          }
        }

        .link_btn{ width: 100%; padding: 20rem 0; text-align: center; background-color: $text; color: $bg1; border-radius: 25rem;}
      }
    }
    .close{ cursor: pointer;}
    &.on{ touch-action: auto; pointer-events: auto; opacity: 1;
      .view_popup{
        svg{ stroke-dashoffset: 0; fill: $bg1; transition: 1.6s $ease, fill 1s ease 1s;}
        .inner{ opacity: 1; transition: 1s ease 1.3s;}
      }
    }

    @at-root .cursor.visit{ justify-content: flex-start; overflow: hidden;
      &::before,&::after{content: 'Visit web Visit web Visit web Visit web'; flex-shrink: 0; font-family: 'Pretendard', sans-serif; font-size: 18rem; animation: visit_wave 10s linear infinite paused; opacity: 0; transition: .5s ease; font-weight: 200;}
      @keyframes visit_wave {
        0%{ transform: translateX(0);}
        100%{ transform: translateX(-100%);}
      }
      &.visit_on{
        &::before,&::after{ animation-play-state: running; opacity: 1;}
      }
    }
  }

  #main_about{ z-index: 1; background-color: $bg1;
    .tit_box{ margin-bottom: 40rem;
      .tit{ font-size: 40rem; line-height: 1.2;}
    }
    .about_list{ padding-left: 360rem; z-index: 1; position: relative;
      li{ width: 100%; background-color: $bg1; position: relative; border-radius: 15rem;
        + li{margin-top: 20rem;}
        svg{ width: 100%; stroke-dasharray: 3744; stroke-dashoffset: 3744;}
        .inner{ position: absolute; left: 0; top: 0;  display: flex;  padding: 40rem;
          .txt_box{ width: 100%; display: flex; flex-direction: column; justify-content: space-between;
            .cate_tit{ font-size: 16rem; font-weight: 300; display: flex; align-items: center; 
              span{
                + span{ display: flex; align-items: center;
                  &::before{ content: ''; display: block; width: 15rem; height: 1px; background-color: $text; margin: 0 5rem;}
                }
              }
            }
            .info{ font-size: 32rem; line-height: 1.2;}
          }
          .img_box{ width: 640rem; height: 100%; background-color: $bg2; flex-shrink: 0; margin-left: 60rem; overflow: hidden;
            img{ width: 100%; height: 100%; object-fit: cover; filter:saturate(0.6); transform: scale(1.2) translateY(-10%);}
          }
        }
      }
    }
    .cross{ position: absolute; left: 0; bottom: 0; height: calc(100% - 600rem); width: 100%;
      img{ position: sticky; left: 90rem; top: 475rem; width: 440rem;}
    }
  }

  #main_contact{ border-radius:15rem; padding: 120rem 0;
    svg{ width: 100%;  stroke-dasharray: 3574; stroke-dashoffset: 3574; transition: 1s $ease;}
    .contact_box{ text-align: center; font-size: 60rem; line-height: 1.4;
      p{overflow: hidden;
        span{ display: block; transform: translateY(100%); transition: 1s ease .3s;
          a{ font-size: 18rem; display: inline-block; padding: 18rem 44rem; border-radius: 99rem; border: 1px solid $bg4; transform: translateY(9rem); margin: 0 10rem;  color: $white; position: relative; overflow: hidden;
            &::before{ content: ''; width: 300%; padding-top: 300%; border-radius: 50%; background-color: $ci; position: absolute; left: 50%; transform: translateX(-50%); top: 100%; transition: 1s $ease_out;}
            i{ position: relative; z-index: 2;}
            &:hover::before{ top: -20%;}
          }
        }
        &:nth-child(2) span{ transition-delay: .5s;}
        &:nth-child(3) span{ transition-delay: .7s;}
      }
    }
    &.aos-animate{
      svg{ stroke-dashoffset: 0;}
      .contact_box{
        p{
          span{ transform: translateY(0);}
        }
      }
    }
  }
}




@media screen and (max-width:1280px) {
  .main{
    /************** INTRO **************/
    #intro{
      .con_box{ width:60%; height:60vw;
        .circle_box .inner{
          .count{ font-size: 40rem;}
          .icon{ padding: 25%;}
        }
        .sound_info{ left: 50%; top: calc(100% + 37rem); width: 100vw; transform: translateX(-50%);}
      }
      .sound_btn_wrap{ height: auto; right: auto; top: auto; justify-content: center; bottom: 20rem;
        button{ width: 120rem; height: auto; padding: 8rem; border-radius: 99rem;  border: 1px solid $text; transform: translateY(100%); opacity: 0; transition: 1s $ease-out;
          &::before{ content: 'yes';}
          + button{ margin-left: 10rem;
            &::before{ content: 'no';}
          }
        }
      }
    
      &.sound{
        .sound_btn_wrap button{ transform: translateY(0); opacity: 1;
          + button{ transition-duration: 1.5s;}
        }
      }
    }
    &.on{
      #intro{
        &.sound{
          .sound_btn_wrap button{ transform: translateY(-100%); transition-delay: 0s; opacity: 0; touch-action: none; pointer-events: none;}
        }
      }
    }

    /************** MAIN **************/
    .main_cate{ font-size: 18rem; padding:80rem 0 30rem; height: auto;}
    
    /* VISUAL */
    #main_visual{ padding: 120rem 0; height: auto;
      .wave_line{ bottom: -5vw;
        &.wave4{ bottom: -6vw;}
      }
      .tit_box{ text-align: center; 
        .tit{ font-size:9.4vw; line-height: .8; white-space: nowrap;
          h1 b .name{ transform: translateY(1rem);}
        }
        a{ margin-top: 20rem; padding:14rem 15rem; font-size: 14rem;}
      }
      .sub_txt{ position: relative; line-height: 1.4; margin-top: 40rem; text-align: center; transition-delay: .6s;}
    }

    #main_best_pf{ margin-top: 0; height: auto; padding: 0 20rem;
      .sticky_box{ position: relative; height: auto;
        .pf_box{ width:100% !important; height: 100% !important; border-radius: 15rem; padding: 15rem; position: relative; left: 0; top:0; transform: translate(0, 0);
          .bird{ width: 120%; height: auto; right: auto; left: 20rem; top: -3%;
            svg{ width: 100%; height: auto;}
          }
          .inner{
            .tit_tag{ margin-bottom: 30rem;
              span{ margin-left: 4rem;}
            }
            .pf_con{ display: block;
              .list_box{width: 100%; margin-right: 0;
                .txt{
                  .tit{ font-size: 30rem; margin-bottom: 18rem; line-height: 1.2;
                    span{ display: block;}
                  }
                  p{ font-size: 14rem;}
                }
                .list{
                  strong{ margin-bottom: 10rem;}
                  ul{border-radius: 10rem; height: auto;
                    li{ height: auto; padding: 8rem 10rem; border-radius: 5rem;
                      + li{ margin-top: 4rem;}
                      span{ font-size: 10rem;}
                      i{ width: 15rem; height: 15rem; right: 10rem;}
                    }
                  }
                }
              }

              .info_box{
                .info_list{ display: block; height: auto; margin: 10rem 0; background-color: $bg2; border-radius: 15rem; padding: 0 10rem;
                  li{display: block; padding: 10rem; width: 100%; padding: 12rem 0; border-radius: 0;
                    + li{ border-top: 1px solid rgba($color: $text, $alpha: .5); }
                    .amount{ display: flex; justify-content: space-between;
                      span{ margin-bottom: 0;}
                      p{ font-size: 16rem; color: $ci;}
                    }
                    .detail{ margin-top: 10rem;
                      p{ display: inline-block;
                        + p{ margin: 0 0 0 10rem;}
                      }
                    }
                  }
                }
                .view_box{ height: 30rem; margin-top: 0; border-radius: 15rem; background: $ci url(../../images/common/link.svg)no-repeat center center / 16rem auto; color: $bg2;}
              }
            }
          }
        }
      }
    }

    #main_feature{
      .main_cate{ padding-top: 40rem;}
      .feature_tit{ margin-bottom: 40rem; overflow: hidden;
        .wave_line{ top: 4vw; left: 50%; transform: translateX(-50%); width: auto; height: 17vw;
          svg{ width: auto; height: 100%;}
        }
        .tit_box{ font-size: 7vw;
          p{ padding: 0 !important;
            span{ padding: 0 18rem;}
          }
        }
      }
      .feature_list{
        ul{ display: block;
          li{ width: 100%; height: auto; transition-delay: 0s !important;
            + li{margin-top: 10rem;}
            .inner{ border-radius: 15rem; padding:40rem 24rem;}
            .ani_box{ max-width: 100%; margin-bottom: 40rem;}
            .txt_box{ padding-bottom: 17rem; border-bottom: 1px solid $bg4;
              .tit{ font-size: 30rem; margin-bottom: 10rem;}
              .info{ font-size: 14rem;}
              br{ display: none;}
            }

            &.interaction{
              .ani_box{
                span{ width: 100rem; height: 100rem;}
              }
            }
            &:hover .inner{ transform: translateY(0); background-color: transparent;}
          }
        }
      }
    }
    #main_skills{ 
      .wave{ font-size: 26rem;
        &::before, &::after{ width: 100rem;}
        ul li{ margin: 0 10rem;}
      }
    }

    #main_value{ padding: 80rem 20rem 0;
      .value_box{ padding: 40rem 20rem 60rem;
        .inner{ width: 100%; margin: 0 auto;}
        .tit_box{
          .bird{ width: 100%; margin-bottom:40rem;}
          .tit{ font-size: 30rem;
            em{ border-width: 2px;}
          }
        }
        .info_box{ padding-top: 30rem; margin-top: 30rem; display: block;
          span{font-size: 14rem; display: inline-block; margin-bottom: 21rem;}
          p{ font-size: 18rem; font-weight: 300;
            i{ width: 60rem;}
          }
          br{ display: none;}
        }
      }
    }

    #main_all_pf{
      .bg{
        .sticky_box{ 
          &::before,&::after{ height: 10vh;}
          .info{ font-size: 12rem;}
        }
      }
      .sticky_box{ 
        .bird_progress{ width: 283rem; height: 244rem; transform: scale(0.6) translate(-103%, -126%);}
        .year{ font-size: 80rem; line-height:80rem; height:80rem; 
          p{ height: 100%; justify-content: center; display: flex; align-items: center;
            &:nth-child(1){ font-size: 30rem;}
          }
        }
      }
      
      .pf_list_wrap{
        .pf_list{
          ul{ 
            &.tit_list{
              li{ font-size: 40rem; margin-bottom: 20rem;}
            }
          }
          &.y_2023{
            .window_box_wrap{
              .window_box{
                .window_box_inner{ 
                  .img_wrap{width: 60%; height: 75vw; }
                }
              } 
            }
          }
        }
      }
    }

    #pf_view{
      .view_popup{ width: calc(100% - 40rem); 
        .inner{ padding: 28rem 14rem 20rem 20rem;
          .btn_deco{ right: 12rem; top: 12rem;
            i{ width: 6rem; height: 6rem; margin-left: 6rem;}
          }
          .txt_box{ width: 100%; height: 100%; overflow: hidden; overflow-y: auto;
            &::-webkit-scrollbar{ display: block; width: 2rem; background-color: $bg3; border-radius: 1px;}
            &::-webkit-scrollbar-thumb{ background-color: $ci;}
            ul{ 
              li{ margin-bottom: 13rem;
                &.details,
                &.awards{ flex-wrap: wrap;}
                span{ width: max-content; padding: 6rem 10rem; font-size: 14rem; margin-bottom: 5rem; margin-right: 7rem;}
                p{ padding: 4rem 0 0 0 !important;}
              }
            }
          }
        }
      }
    }

    #main_about{ overflow: hidden;
      .tit_box{ margin-bottom: 25rem; z-index: 1; position: relative;
        .tit{ font-size: 24rem;}
      }
      .about_list{ padding-left: 0;
        li{ border: 1px solid $point;
          + li{margin-top: 20rem;}
          svg{ display: none;}
          .inner{ display: block; padding: 20rem; position: relative;
            .txt_box{ display: block;
              .cate_tit{ font-size: 14rem; margin-bottom: calc(45vw + 40rem);
                span{
                  + span{ 
                    &::before{width: 11rem;}
                  }
                }
              }
              .info{ font-size: 20rem; font-weight: 300;}
            }
            .img_box{ width: calc(100% - 40rem); height: 45vw; margin: 0; position: absolute; left: 20rem; top: 52rem;}
          }
        }
      }
      .cross{ height: 100%; left: 100rem;
        img{ width: 300rem; left: 100%; top: 40rem;}
      }
    }

    #main_contact{ border-radius:15rem; padding:80rem 20rem 50rem;
      svg{ display: none;}
      .contact_box{ font-size: 23rem; position: static; transform: unset; border: 1px solid $point; border-radius: 15rem; padding: 40rem 20rem;
        p{
          &:nth-child(2){margin-top:-8rem; padding-bottom: 10rem;}
          span{
            a{ font-size: 14rem; padding: 10rem 20rem; transform: translateY(14rem); margin: 0 5rem;}
          }
        }
      }
    }
  }
}