$ci : #ff682c;
$text : #EDD0C6;
$point : #816729;
$white : #EBE6DE;
$bg1 : #401D19;
$bg2 : #512520;
$bg3 : #5F2C29;
$bg4 : #863B32;

$ease : cubic-bezier(0.85, 0, 0.15, 1);
$ease2 : cubic-bezier(0.83, 0, 0.17, 1);
$ease_out : cubic-bezier(0.16, 1, 0.3, 1);
$ease_out_back : cubic-bezier(0.75, -0.27, 0.3, 1.33);

/* ELLIPSIS */
@mixin ellip($col: 1) {
  overflow: hidden;
  text-overflow: ellipsis;
  @if ($col == 1) {
    white-space: nowrap;
  } @else {
    display: -webkit-box;
    box-orient: vertical;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: $col;
  }
}
